.title {
  text-align: center;
}
.container {
  display: flex;

  justify-content: center;
}
.input {
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 10px;
  width: 300px;
  outline: none;
  border: 1px solid black;
}
.btn {
  text-align: center;
  padding: 10px 0;
  background-color: lime;
  font-size: 20px;
  margin-top: 10px;
  width: 340px;
  border-radius: 20px;
}
.error {
  outline: none;
  border: 1px solid red;
  color: red;
}
.bold {
  font-weight: 600;
}
.text {
  font-size: 24px;
}
.container2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.color {
  width: 300px;
  height: 30px;
}

.row {
  display: flex;
}

.item {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.table {
  margin-top: 30px;
}
