.table {
  width: 1000px;
}
.first_line {
  background-color: #908f8f;
  color: #f7e1ca;
}
.first_line :hover {
  background-color: #f7e1ca;
  color: #908f8f;
}
.second_line {
  background-color: #f8f39b;
  color: #902adb;
}
.second_line :hover {
  background-color: #902adb;
  color: #f8f39b;
}
.task2 {
  margin-top: 40px;
  margin-left: 40px;
}
.img1 {
  position: relative;
}
.big_circle {
  background-color: gray;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.small_circle {
  position: relative;
  background-color: white;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  top: 25%;
  left: 25%;
}
.circle {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.c1 {
  top: -15px;
  left: 60px;
}
.c2 {
  top: 5px;
  left: 5px;
}
.c3 {
  top: 60px;
  left: -15px;
}
.c4 {
  bottom: 5px;
  left: 5px;
}
.c5 {
  bottom: -15px;
  left: 60px;
}
.c6 {
  bottom: 5px;
  left: 115px;
}
.c7 {
  left: 135px;
  top: 60px;
}
.c8 {
  top: 5px;
  left: 115px;
}

.img2 {
  margin-top: 20px;
  transform: translate(300px, -170px);
}
.big_circle2 {
  background-color: gray;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.small_circle2 {
  transform: translate(50%, 50%);
  background-color: white;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}
.circle2 {
  display: none;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.c12 {
  display: block;
  transform: translate(60px, -90px);
}
.c22 {
  display: block;
  transform: translate(5px, -100px);
}
.c32 {
  display: block;
  transform: translate(-15px, -75px);
}
.c42 {
  display: block;
  transform: translate(5px, -50px);
}
.c52 {
  display: block;
  transform: translate(60px, -60px);
}
.c62 {
  display: block;
  transform: translate(115px, -110px);
}
.c72 {
  display: block;
  transform: translate(135px, -195px);
}
.c82 {
  display: block;
  transform: translate(115px, -280px);
}
